.hamburger_icon {
  display: none;
}

@media (max-width: 940px) {
  .hamburger_icon_container {
    color: var(--color-white);
    font-size: 2.4rem;
    display: block;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--color-primary-blue);
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    padding: 0.8rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .hamburger_icon_container .line_one {
    width: 80%;
    height: 0.3rem;
    background-color: var(--color-white);
    transition: 100ms all ease-in-out;
  }
  .hamburger_icon_container .line_two {
    width: 80%;
    height: 0.3rem;
    background-color: var(--color-white);
  }
  .hamburger_icon_container .line_three {
    width: 80%;
    height: 0.3rem;
    background-color: var(--color-white);
    transition: 100ms all ease-in-out;
  }

  .rotate_add_45deg {
    transform: rotate(45deg);
    position: absolute;
  }

  .rotate_remove_45deg {
    transform: rotate(-45deg);
    position: absolute;
  }

  .hidden {
    display: none;
  }
}
